<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>504291584745-ql3uja5msst8rk0ubniqegle3ebk8o04.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.504291584745-ql3uja5msst8rk0ubniqegle3ebk8o04</string>
	<key>API_KEY</key>
	<string>AIzaSyBxR7y31qps8QFowRxY4OjX6MIQGmiamkU</string>
	<key>GCM_SENDER_ID</key>
	<string>504291584745</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.rudifa.grocr</string>
	<key>PROJECT_ID</key>
	<string>grocr-5381e</string>
	<key>STORAGE_BUCKET</key>
	<string>grocr-5381e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:504291584745:ios:14b67cb933268611</string>
	<key>DATABASE_URL</key>
	<string>https://grocr-5381e.firebaseio.com</string>
</dict>
</plist>